.userInfoCard__div {
  width: 25%;
  background-color: rgba(53, 47, 47, 0.2);
  margin: 8.7em 2em 0 0;
  padding: 2em;
  height: 34em;
  text-align: center;
}

.ui.dropdown.editProfilePic__dropdown {
  position: fixed;
  margin: -9em 0 0 8em;
  color: rgba(66, 64, 64, 0.384)
}

.ui.image.profile__img,
.ui.image.uploadedProfile__img {
  width: 100%;
  height: 17.5em;
  margin: -10.5em auto 0 auto;
  border: .5em solid #E6DEDD;
  object-fit: cover;
  border-radius: 10em;
}

.ui.button.inputFile__label {
  margin: 1em auto 0 auto;
  padding: .75em;
}

.ui.header.profile__name {
  text-align: center;
  font-family: 'league_spartanbold';
  margin: 1.25em 0;
  font-size: 1.5em;
}

.ui.header.nextGameNight__header {
  font-family: 'league_spartanbold';
  background-color: rgba(53, 47, 47, 0.75);
  font-size: 1.2em;
  color: white;
  margin: 0;
  padding: .75em .5em .5em .5em;
  text-shadow: .5px .5px #707070;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
}

.profileGameNight__div {
  text-align: left;
  background-color: white;
  margin: 0 0 1em 0;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profileUserStats__div {
  background-color: white;
  text-align: center;
}