.userProfileData__div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfileAddBtn__div {
  display: flex;
  align-self: flex-end;
}

.profileAdd__btn {
  justify-self: flex-end;
}