.userProfileData__div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfileAddBtn__div {
  display: flex;
  align-self: flex-end;
}

.ui.button.profileAdd__btn {
  justify-self: flex-end;
  font-size: 1.25em;
  font-family: 'league_spartanbold';
  margin-bottom: 1em;
  text-shadow: .5px .5px #707070;
  padding-top: 1em;
}

.ui.button.profileAdd__btn:hover {
  justify-self: flex-end;
  font-size: 1.25em;
  font-family: 'league_spartanbold';
  margin-bottom: 1em;
  text-shadow: .5px .5px #707070;
  padding-top: 1em;
}

.ui.tabular.menu {
  font-family: 'league_spartanbold';
  font-size: 1.25em;
}