.gameList__div {
  flex-basis: 30em;
  height: 28em;
  display: flex;
  flex-direction: column;
  border: 1px solid #E6DEDD;
  padding: 1em .5em .5em .5em;
  margin: 1.5em;
}

.editGameList__dropdown {
  text-align: right;
  align-self: flex-end;
  color: #F89D13;
}

.saveChangesBtn__div {
  display: flex;
  align-items: flex-start;
  margin-top: .75em;
}

.gameList__header {
text-align: center;
margin: 0 0 1em 0;
font-size: 1.55em;
font-family: 'league_spartanbold';
}

.ui.input.gameList__header>input {
  text-align: center;
  font-size: 1.55em;
  font-family: 'league_spartanbold';
  padding: .35em;
  align-self: center;
  margin-left: .25em;
}

.ui.button.saveListChanges__btn {
  height: 3em;
}

.gameList {
  overflow-y: auto;
}