.gameList__card {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #E6DEDD;
  margin: .5em;
  padding: .5em;
}


.gameListCard__info {
  display: flex;
  align-items: center;
}

.gameListCard__name {
  font-size: 1.2em;
  margin: .5em 0 0 1em;
}

.gameListCard__img {
  height: 3em;
}

i.icon.minus.circle.deleteGameFromList__icon {
  align-self: center;
  color: #8F1D14;
  font-size: 1.5em;
  cursor: pointer;
  margin: .25em 1em 0 0;
}

i.icon.minus.circle.deleteGameFromList__icon:hover {
  color: rgb(190, 37, 26);
  }