.gameList__div {
  width: 45%;
  min-width: 30em;
  display: flex;
  flex-direction: column;
  border: 1px solid #E6DEDD;
}

.editGameList__dropdown {
  text-align: right;
  align-self: flex-end;
  color: #F89D13;
}

.gameList__header {
  text-align: center;
  margin: 0 0 1em 0;
}