.ui.button {
  background-color: #F89D13;
  color: white;
  margin: 0;
  border: none;
  text-shadow: .5px .5px #707070;
  padding-top: 1.2em;
  font-family: 'league_spartanbold';

}

.ui.button:hover {
  background-color: rgb(172, 108, 13);
  color: white;
  margin: 0;
}

.ui.button:active,
.ui.button:disabled,
.ui.button:focus {
  background-color: #F89D13;
  color: white;
  margin: 0;
}

.ui.large.header {
  font-family: 'league_spartanbold';
  text-align: center;
}

.ui.labeled.input {
  border-radius: 4px;
  height: 3em;
  text-align: center;
}

.ui.labeled.input>.label:not(.corner) {
  min-width: 6em;
  font-family: 'league_spartanbold';
  color: white;
  background-color: #F89D13;
  padding-top: 1.2em;
  text-shadow: .5px .5px #707070;
}