.gameDetails__div {
  margin: 1em;
}

.gameDetails__imgAndDesc {
  display: flex;
}


.ui.header:first-child.gameDetails__name {
  font-family: 'league_spartanbold';
  font-size: 1.7em;
  margin: .5em 0;
}

.ui.image.gameDetails__img {
  max-height: 20em;
  max-width: 20em;
  margin: auto 2em;
}

.ui.rating .active.icon {
  color: #F89D13;
}

.gameNameAndDesc__div {
  margin: 0 1em 1em 1em;
}

.gameDescription__p {
  overflow-y: auto;
  height: 15em;
  padding-right: 1em;
}

.moreGameInfo__div {
  display: flex;
  padding: 0 3em 0 3em;
  margin: 2em 0;
}

.gameStats {
  margin-right: 8em;
}

.gameCategories {
  margin-right: 10em;
}

.gameDetails__list {
  list-style-type: none;
  padding-right: 1em;
  overflow-y: auto;
  height: 10em;
  font-size: 1.1em;
}
