.search-form {
  margin: 2em;
  flex-basis: 25%;
  min-height: 40em;
}

.search-field {
  width: 100%;
  margin-bottom: 20px;
}

.search-btn {
  background-color: #F89D13;
}

.search-btn:hover {
  background-color: rgba(248, 157, 19, 0.616);
}