#searchResultContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#searchResultList {
  display: flex;
  flex-direction: column;
}

.ui.header:first-child.searchResultList__header {
  font-family: 'league_spartanbold';
  font-size: 1.5em;
  margin: .5em 1em;
}

.ui.success.message.searchResultList__message {
  margin: 0 .8em;
  font-size: 1.1em;
}