.searchResultCard {
  display: flex;
  background-color: white;
  margin: .5em 1em;
  padding: .5em 2em .5em .5em;
  align-items: center;
  justify-content: space-between;
}

.searchResultCard__imgAndName {
  display: flex;
  align-items: center;
  max-width: 85%;
}

.searchResultCardImg__div {
  min-width: 4em;
}

img.ui.image.searchResult__image {
  max-height: 3em;
  max-width: 4em;
  margin: 0 auto;
}

.searchResultCard__name {
  margin: 0 1em;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;

}

.searchResultCard__name:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.ui.animated.button.addGameToList__btn {
  background-color: rgba(248, 157, 19, 0);
  padding: 0;
  color: white;
  width: 6em;
  height: 2em;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-family: 'Lato', sans-serif;
}

.ui.animated.button,
i.icon.plus.circle.addGameToList__icon:before {
  cursor: pointer;
  color: #F89D13;
  font-size: 1.2em;
  padding: 0;
  vertical-align: sub;
}

.visible.content {
  font-size: 1.35em;
}

.hidden.content {
  background-color: #F89D13;
  border-radius: 5em;
  height: 1.5em;
  padding: .2em;
}

.ui.modal.searchResultCard__modal {
  width: 33%;
  text-align: center;
  padding: 1em;
}