@font-face {
  font-family: 'league_spartanbold';
  src: url('../../fonts/LeagueSpartan-Bold.otf') format('woff2'),
       url('../../fonts/LeagueSpartan-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;

}

.container {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  background-color: #1B120F;
  align-items: center;
  height: 3.5em;
  margin: 4em 0;
  padding-top: 5px;
}

.nav-li {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  color: black;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'league_spartanbold';
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-link:hover {
  color: #F89D13
}

.logo {
  width: 11em;
  margin-left: 1em;
}

.logo-welcome {
  width: 9em;
  margin-left: 1em;
}

.active-page {
  color: #F89D13;
  border-bottom: 2.5px solid #F89D13
}

.logoutBtn__div {
  margin: 0 auto;
  height: 1.75em;
  width: 95%;
}

.ui.button.logout__btn {
  font-family: 'league_spartanbold';
  padding-top: 1.2em;
  margin: 1em 0;
}

.ui.button.logout__btn:hover {
  font-family: 'league_spartanbold';
  padding-top: 1.2em;
  margin: 1em 0;
}